<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title> DISPOSITIVOS EMBEBIDOS</title>
</head>
<body>

<h1>VISUALIZACION DE ESTADOS DE UN LED</h1>
<h1>REPASO</h1>

<h2>LED UNO</h2>

<img id="imagen" src="/static/images/iot.png" alt="user">
<h1>El estado del LED es :</h><h id="sensor">--</h1>


<button id = 'LEDOn'type="button" onclick="LED_On();">
LED_ENCENDIDO</button>


<button id = 'LEDOff' type="button" onclick="LED_Off();">
LED_APAGADO</button>
<h1> </h1>
<label for="fname">Programar Hora de Encendido:</label><br>
<input type="time" id="hselec" name="hora">
<button type="button" onclick="hora()">Enviar</button>

<h1> </h1>
<label for="fname">Programar hora de Apagado:</label><br>
<input type="time" id="hselec2" name="hora">
<button type="button" onclick="hora2()">Enviar</button>

</body>
</html>
